<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee2 management system</title>
</head>
<body>
<div align="center">
    <h1>Employee2 list</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Employee2 First name</th>
            <th>Employee2 last name</th>
            <th>Employee2 email</th>
        </tr>
        </thead>
        <tbody>
        <tr th;each="employee:${ListEmployee2}">
            <td th;text="${Emloyee2.first name}"></td>
            <td th;text="${Employee2.last name}"></td>
            <td th;text="${Employee2.email}"></td>
        </tr>
        <tbody>
    </table>
</div>
</body>
</html>